{% extends "base.html" %}
{% block content %}
<h1>{{ actor.name }} {{ actor.surname }}</h1>
<p><b>Birth Date:</b> {{ actor.birth_date }}</p>
<p><b>Age:</b> {{ actor.age }}</p>
<h2>Movies:</h2>
<ul>
    {% for movie in movies %}
        <li>{{ movie.title }}<a href="{% url 'movie_profile' movie.pk %}"> Info</a></li>
    {% endfor %}
</ul>
<h2>Comments:</h2>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.user.username }}: {{ comment.text }}</li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <h3>Add a comment:</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="background-color: #343a40; color: white; border-radius: 5px">Submit</button>
    </form>
  {% else %}
    <p>You must be logged in to add a comment.</p>
  {% endif %}
{% endblock %}