{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'basic_style.css' %}">
    </head>
    <h1>Directors</h1>
    {% if user.is_authenticated %}
        {% if perms.viewer.add_director  %}
            <a href="{% url "director_create" %}">
                <button class="btn btn-outline-info" style="background-color: #343a40; color: white; margin-bottom: 10px; border-color: white">Add Director</button>
            </a>
        {% endif %}
    {% endif %}
    <ul>
        {% for director in object_list %}
            <li>
                {{ director.name }} {{ director.surname }}
                <ul>
                    {% for movie in director.directed_movies.all %}
                        <li>Movie: {{ movie.title }}</li>
                    {% empty %}
                        <li>No movies directed</li>
                    {% endfor %}
                </ul>
                {% if user.is_authenticated %}
                    {% if perms.viewer.delete_director  %}
                        <a href="{% url "director_delete" director.pk %}">
                            <button style="margin-bottom: 3px; border-radius: 5px">Delete Director</button>
                        </a>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% if perms.viewer.change_director  %}
                        <a href="{% url 'director_update' director.pk %}">
                            <button style="margin-bottom: 3px; border-radius: 5px">Update Director</button>
                        </a>
                    {% endif %}
                {% endif %}
                <a href="{% url "director_profile" director.pk %}">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; border-color: black; outline: darkgray" >Info</button>
                </a>
            </li>
        {% endfor %}
    </ul>
    <img src="{% static "Director_chair.jpg" %}">
{% endblock %}
