{% extends "base.html" %}
{% load static %}

{% block content %}
    
    
  <h1>Welcome to HollyMovies!</h1>

 {% if user.is_authenticated %}
    {% if perms.viewer.add_movie  %}
        <a href="{% url 'movie_create' %}">
            <button class="btn btn-outline-info" style="background-color: #343a40; color: white; margin-bottom: 10px; border-color: white">Create Movie</button>
        </a>
    {% endif %}
{% endif %}

  <ul>
    {% for movie in object_list %}
      <li>
          Title: {{ movie.title }}
      {% if user.is_authenticated %}
          {% if perms.viewer.change_movie   %}
          <a href="{% url 'movie_update' movie.pk %}">
              <button style="margin-bottom: 3px; border-radius: 5px"> Update Movie</button>
          </a>
          {% endif %}
      {% endif %}

      {% if user.is_authenticated %}
          {% if perms.viewer.delete_movie %}
        <a href="{% url 'movie_delete' movie.pk %}">
            <button style="margin-bottom: 3px; border-radius: 5px"> Delete Movie</button>
        </a>
      {% endif %}
        <a href="{% url "movie_profile" movie.pk %}"><button type="button" class="btn btn-outline-secondary" style="color: black; border-color: black; outline: darkgray" >Info</button></a>
      </li>
        {% endif %}
    {% endfor %}
  
  </ul>
    <img src="{% static "last_dinner.jpg" %}">
    {% endblock %}