{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <h1>Search</h1>
    <form action="{% url 'search' %}" method="GET" style="display: flex; align-items: center;">
        <div style="flex-grow: 1;">
            {{ search_form }}
        </div>
        <input type="submit" style="margin-left: 10px; background-color: #343a40; border-radius: 5px; color: white">
    </form>

    {% if actors or movies or directors or genres %}
        {% if movies %}
            <h2>Found movies</h2>
            <ul>
                {% for movie in movies %}
                    <li>
                        <h3>Title: {{ movie.title }} <a href="{% url 'movie_profile' movie.pk %}">Info</a></h3>
                        <p>Rating: {{ movie.rating }}</p>
                        <p>Released: {{ movie.released }}</p>
                        
                        <h4>Actors:</h4>
                        <ul>
                            {% for actor in movie.actors.all %}
                                <li>{{ actor.name }} {{ actor.surname }} <a href="{% url 'actor_profile' actor.pk %}">Info</a></li>
                            {% endfor %}
                        </ul>

                        <h4>Directors:</h4>
                        <ul>
                            {% for director in movie.directors.all %}
                                <li>{{ director.name }} {{ director.surname }} <a href="{% url 'director_profile' director.pk %}">Info</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if actors %}
    <h2>Found actors</h2>
    <ul>
        {% for actor in actors %}
            <li>
                Actor: {{ actor.name }} {{ actor.surname }}
            <a href="{% url 'actor_profile' actor.pk %}">Info</a>
                <ul>
                    {% for movie in actor.appeared_in_movies.all %}
                        <li>Movie: {{ movie.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if directors %}
    <h2>Found directors</h2>
    <ul>
        {% for director in directors %}
            <li>
                Director: {{ director.name }} {{ director.surname }}
            <a href="{% url 'director_profile' director.pk %}">Info</a>
                <ul>
                    {% for movie in director.directed_movies.all %}
                        <li>Directed movie: {{ movie.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

        {% if genres %}
            <h2>Found genres</h2>
            <ul>
                {% for genre in genres %}
                    <li>{{ genre.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    {% else %}
        <p>No results found.</p>
    {% endif %}

    <div>
        <img src="{% static 'lupa.jpg' %}" style="border-radius: 200px; margin-top: 50px; margin-left: 250px" width="500" height="250">
    </div>
</body>
{% endblock %}